*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    /* Dark Blue (Dark Mode Elements */
    --dblue:hsl(209, 23%, 22%);

    /* Very Dark Blue (Dark Mode Background) */
    --vdblue:hsl(207, 26%, 17%);

    /* Very Dark Blue (Light Mode Text) */
    --vdbluelight:hsl(200, 15%, 8%);

    /* Dark Gray (Light Mode Input) */
    --dgray:hsl(0, 0%, 52%);

    /* Very Light Gray (Light Mode Background) */
    --vlightgray:hsl(0, 0%, 98%);

    /* White (Dark Mode Text & Light Mode Elements) */
    --white:hsl(0, 0%, 100%);
}

body{
    height:100vh;
}
nav{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    height: 10%;

}

nav h2 a{
    text-decoration: none;
}
main{
    background-color: var(--vlightgray);
}
